<footer>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-6">
        <p class="copyrights">Wisemedia</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>