<header>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-2">
        <a href="/" class="logo">
          <img src="img/logo.png" alt="EstCube">
        </a>
        
      </div>
      <div class="col-10">
        <ul class="social-links">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-skype"></a></li>
        </ul>
        <nav class="navbar navbar-expand-md">
          <a href="#" class="btn-menu fa fa-bars d-sm-block d-md-none navbar-toggler" data-toggle="collapse" data-target="#menu"></a>
          <ul id="menu" class="menu collapse navbar-collapse">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#formLogin" class="btn btn-primary collapsed" data-toggle="collapse">Log in</a>
              <div class="collapse login-popup" id="formLogin">
                <form>
                  <div class="form-group">
                    <input class="form-control" name="login" id="login">
                    <label for="login">Login</label>
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="password" id="password" type="password">
                    <label for="password">Password</label>
                  </div>
                  <div class="btn-wrapper">
                    <button type="submit" class="btn btn-primary">Log in</button>
                  </div>
                  <small>First time here? <a href="#registration-form" class="link-to-register">Create an Account</a></small>
                </form>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>