<meta charset="UTF-8">
<!--[if IE]>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/application.css">
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/select2.min.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/scripts.js"></script>