.contact-page {
	&.page-content {
		aside {
			img {
				bottom: -30px;

				@include media-breakpoint-down(md) {
					transform: translate(-70%, -50%);
				}
			}
		}

		.content {
			padding-top: 10px;
			padding-bottom: 10px;

			.headline {
				@include media-breakpoint-up(lg) {
					font-size: 36px;	
				}
			}
		}
	}

	.contact-info {
		padding-top: 40px;
		text-align: center;

		@include media-breakpoint-down(md) {
			padding-top: 0;
		}

		h3 {
			font-family: $font-family-headline;
			font-weight: 400;
			font-size: 24px;
			color: $color-primary;
			margin-bottom: 0;
		}

		p {
			font-weight: 700;
			font-size: 16px;
			line-height: 1.2;
			color: $color-gray-dark;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				font-weight: 400;
			}

			a {
				color: inherit;
			}
		}
		
	}

	.contact-form {
		padding-top: 40px;
		padding-left: 15px;

		@include media-breakpoint-down(lg) {
			padding-left: 0;
		}
		
	}

	.divider {
		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			background-color: $color-gray-light;
			margin: 0 auto;

			@include media-breakpoint-down(lg) {
				width: 100%;
				height: 1px;
				margin-top: 40px;
			}
		}
	}
}