.customer-area {
  margin-top: 60px;

  .menu {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }

  .menu-item {
    padding: 15px 15%;
    padding-top: 0;
    a {
      color: $color-gray;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    &.active {
      position: relative;

      a {
        color: $color-primary;

        &::after {
          content: '+';
          display: inline;
          padding-left: 5px;
        }
      }

      &::before {
        border-bottom: 8px solid transparent;
        border-left: 8px solid $color-primary;
        border-top: 8px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  .list-user-view,
  .add-user-view {
    padding-bottom: 80px;
    padding-top: 80px; //@include media-breakpoint-down(md) {
    @include media-breakpoint-down(md) {
      padding-top: 0;
      margin: 0 15px;
    }
  }

  .list-user-view {
    &.delete-view {
      .user-delete {
        display: block;
      }
    }
  }

  .registration-form {
    padding: 0;
    width: 50%;
    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .user-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    counter-reset: users;
  }

  .user {
    width: calc(20% - 45px);
    list-style-type: none;
    margin-right: 45px;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 15px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &-img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &-name {
      color: #999;
      display: block;
      padding-top: 15px;
      &::before {
        counter-increment: users;
        content: counters(users, '') '. ';
        display: inline;
      }
    }
    &-delete {
      width: 100%;
      display: none;
      .fa {
        color: #999;
        line-height: 16px;
        &:hover {
          color: $color-error
        }
      }
    }
    @include media-breakpoint-down(lg) {
      width: 25%;
      &:nth-child(3n - 3) {
        margin-right: 0;
      }
      &:nth-child(5n) {
        margin-right: 45px;
      }
    }
    @include media-breakpoint-down(md) {
      width: calc(33% - 30px);
      margin: 0 15px;
      &:nth-child(5n) {
        margin-right: 15px;
      }
    }
    @include media-breakpoint-down(sm) {
      width: calc(50% - 30px);
      margin: 0 15px;
      &:nth-child(3n) {
        margin-right: 15px;
      }
    }
  }
}
