.page-content {
	padding-top: 35px;
	padding-bottom: 60px;
	overflow: hidden;

	.container {
		@include media-breakpoint-down(lg) {
			flex-flow: column;
		}
	}

	aside {
		position: relative;
		width: 230px;
		min-height: 510px;
		padding: 50px 30px;
		background-color: $color-primary;
		border-radius: 20px;
		text-align: center;
		margin-right: 20px;

		@include media-breakpoint-down(md) {
			width: 100%;
			min-height: 0;
			padding: 40px 25px 30px;
			margin-bottom: 30px;
			margin-right: 0;
			text-align: left;
		}

		.page-title {
			font-size: 30px;
			color: $color-white;
			text-transform: uppercase;
		}

		img {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			max-width: 125%;

			@include media-breakpoint-down(md) {
				width: auto;
				max-width: 30%;
				max-height: 120px;
				bottom: auto;
				left: 100%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.content {
		width: calc(100% - 300px);

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		.headline {
			@include media-breakpoint-up(lg) {
				font-size: 48px;	
			}
		}

		p {
			font-size: 16px;
			line-height: 30px;
			color: $color-black;
		}

		.link-wrapper {
			text-align: right;

			a {
				font-weight: 700;
				font-size: 20px;
			}
		}
	}
}