.content-section {
	.row {
		margin-top: 80px;
		margin-bottom: 80px;

		@include media-breakpoint-down(sm) {
			margin-top: 40px;
		}
	}

	p {
		font-size: 14px;
		line-height: 30px;
		color: $color-black;
	}

	.img-wrapper {
		img {
			display: block;
			margin: 0 auto;
			max-width: 90%;

			@include media-breakpoint-down(sm) {
				margin-top: 30px;
			}
		}
	}
}