footer {
	padding: 45px 0 30px;

	@include media-breakpoint-down(sm) {
		padding: 20px 0;
	}

	[class^="col-"] {

		&:last-child {
			display: flex;
			justify-content: flex-end;
		}

		@include media-breakpoint-down(sm) {
			display: block !important;
			width: 100%;
			text-align: center;
		}
	}

	p, a {
		font-weight: 700;
		font-size: 12px;
		color: $color-gray;
	}

	p {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}

	.menu {
		li {
			margin-left: 10px;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			text-align: center;

			li {
				margin: 0 5px;
			}
		}
	}
}