header {
	position: relative;
	z-index: 100;
	padding-top: 25px;

	[class*="col-"] {
		position: static;
		display: flex;
		align-items: center;

		&:first-child {
			justify-content: space-between;
		}

		&:last-child {
			justify-content: flex-end;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}

	.menu {
		li {
			margin-left: 30px;
		}

		a:not(.btn) {
			font-size: 22px;
		}

		@include media-breakpoint-down(md) {
			li {
				margin-left: 20px;
			}

			a:not(.btn) {
				font-size: 16px;
			}
		}

		@include media-breakpoint-down(sm) {
			padding-bottom: 10px;
			border-bottom: 1px solid #e5e5e5;
			
			li {
				display: block;
				text-align: center;
				margin: 0;
				padding: 10px 0;
			}
		}
	}

	.btn-menu {
		font-size: 30px;
		margin-left: 30px;
	}

	.navbar, .navbar-toggler {
		position: static;
		padding: 0;
	}

	.navbar-collapse {
		background-color: #fff;

		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
		}
	}
}