.info-section {
	margin-bottom: 85px;
	.row {
		align-items: flex-end;
	}

	.info {
		color: $color-black;

		@include media-breakpoint-up(md) {
			padding-right: 55px;
		}

		@include media-breakpoint-down(md) {
			padding-top: 30px;
			.row {
				align-items: center;
			}
		}

		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		h1 {
			float: right;
			margin-bottom: 20px;

			@include media-breakpoint-down(lg) {
				font-size: 50px;
			}
		}

		img {
			margin-right: 50px;
			max-width: 100%;
		}

		p {
			font-size: 14px;
			line-height: 22px;
			text-align: justify;
			clear: both;
		}
	}

	.links {
		text-align: center;
		border-left: 1px solid $color-gray-light;

		@include media-breakpoint-down(md) {
			margin-top: 60px;
			padding-top: 30px;
			border-left: none;
			border-top: 1px solid $color-gray-light;
		}

		img {
			margin: 40px auto;
		}

		a {
			display: inline-block;
			font-size: 20px;
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}