.partners-section {
	margin-top: 50px;
}

.partners-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 70px 0;
	border-top: 1px solid $color-gray-light;
	border-bottom: 1px solid $color-gray-light;

	@include media-breakpoint-down(sm) {
		padding: 35px 0;
		justify-content: space-evenly;
	}

	.partner-small {
		width: 10%;

		@include media-breakpoint-down(sm) {
			width: 15%;
		}
	}

	.partner-wide {
		width: 45%;

		@include media-breakpoint-down(sm) {
			width: 60%;
			margin-top: 30px;
		}
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}