.schools-section {
	margin-top: 80px;

	h2 {
		font-size: 24px;
	}

	p {
		color: $color-gray-dark;
		padding-left: 25px;
		position: relative;

		&:before {
			content: $fa-var-circle;
			font-family: $font-family-icon;
			font-size: 8px;
			color: $color-gray-light;
			position: absolute;
			top: 3px;
			left: 0;
		}
	}
}