.slider {
	margin: -115px 0 40px 0;

	@include media-breakpoint-down(md) {
		margin-top: 40px;
	}

	.slick-slide {
		margin-top: 155px;
		margin-bottom: 60px;
		min-height: 529px;
		border-radius: 20px;
		background-color: $color-primary;
		padding: 70px 45px;

		@include media-breakpoint-down(lg) {
			min-height: 505px;
		}

		@include media-breakpoint-down(md) {
			min-height: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 30px 15px 70px;
		}

		.row {
			align-items: center;
		}

		[class*="col-"] {
			position: static;
		}

		&.content-right {
			.row {
				flex-direction: row-reverse;
			}
		}

		&.slide-scientists {
			position: relative;

			img {
				display: block;
				width: 630px;
				max-width: none;
				margin: -95px auto -125px -75px;

				@include media-breakpoint-down(lg) {
					width: 480px;
					margin: 0 auto -125px -45px;
				}
			}

			&:before {
				content: '';
				display: block;
				width: 132px;
				height: 500px;
				background: url('../img/crazy-scientist-1.png') no-repeat center bottom;
				background-size: contain;
				position: absolute;
				bottom: calc(100% - 85px);
				left: 15%;

				@include media-breakpoint-down(lg) {
					width: 100px;
				}
			}

			&:after {
				content: '';
				display: block;
				width: 206px;
				height: 172px;
				background: url('../img/crazy-scientist-2.png') no-repeat center center;
				background-size: contain;
				position: absolute;
				bottom: -60px;
				left: 5%;

				@include media-breakpoint-down(lg) {
					width: 175px;
				}
			}

			@include media-breakpoint-down(md) {
				&:before,
				&:after {
					display: none;
				}
			}
		}

		&.slide-alien {
			img {
				display: block;
				margin: 0 auto -95px;
			}

			h2 {
				position: relative;
				&:after {
					content: '';
					display: block;
					width: 33px;
					height: 24px;
					background: url(../img/funny-alien-note.png) no-repeat center center;
					position: absolute;
					top: -40px;
					right: 50px; 
				}

				@include media-breakpoint-down(md) {
					&:after {
						display: none;
					}
				}
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 155px;
		bottom: 60px;
		width: 60px;
		z-index: 10;
		padding: 0;
		margin: 0;
		border: none;
		background: transparent;
		text-indent: -1000em;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			top: 0;
			bottom: 0;
		}

		@include media-breakpoint-down(sm) {
			display: none !important;
		}

		&:after {
			font-family: $font-family-icon;
			display: block;
			width: 60px;
			height: 60px;
			margin: 0 auto;
			text-indent: 0;
			text-align: center;
			font-size: 20px;
			line-height: 60px;
			color: $color-white;
		}

		&.slick-prev {
			left: 0;

			&:after {
				content: $fa-var-chevron-left;
			}
		}

		&.slick-next {
			right: 0;

			&:after {
				content: $fa-var-chevron-right;
			}
		}
	}

	.slick-dots {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 90px;
		z-index: 10;

		@include media-breakpoint-down(md) {
			bottom: 20px;
		}

		li {
			display: inline-block;
			margin: 0 5px;

			&.slick-active button{
				background-color: $color-secondary;
			}
		}
		button {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 100%;
			background-color: $color-white;
			text-indent: -1000em;
			overflow: hidden;
			border: none;
			cursor: pointer;
		}
	}

	@media (min-width: 1100px) {
    	margin-left: -70px;
    	margin-right: -70px;
    	.carousel-item {
    		padding-left: 100px;
    		padding-right: 100px;
    	}
    }
}

.slick-slide {
	color: $color-white;

	.headline {
		font-family: $font-family-headline;
		font-size: 42px;
		color: $color-white;

		@include media-breakpoint-down(lg) {
			font-size: 34px;
		}

		@include media-breakpoint-down(md) {
			font-size: 28px;
		}
	}

	p {
		line-height: 2;
	}

	img {
		max-width: 100%;
	}

	.btn {
		float: right;
	}
}