.video-section {
	margin-top: 115px;

	@include media-breakpoint-down(md) {
		margin-top: 80px;
	}

	.row {
		justify-content: space-between;
	}

	.headline {
		font-size: 60px;

		@include media-breakpoint-down(md) {
			font-size: 40px;
		}
	}

	p {
		font-size: 14px;
		line-height: 22px;
		color: $color-black;
	}

	.video-wrapper {
		border: 8px solid $color-gray;

		@include media-breakpoint-down(md) {
			margin-top: 40px;
		}

		img {
			display: block;
			width: 100%;
		}
	}
}