body {
	font-family: $font-family-base;
	color: $color-gray;
	font-weight: 400;
	min-width: 320px;
}

h1 {
	font-weight: 700;
	font-size: 60px;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	color: $color-primary;
	margin-bottom: 40px;
}

.headline {
	font-family: $font-family-headline;
	font-weight: 400;
	font-size: 36px;
	color: $color-primary;

	@include media-breakpoint-down(lg) {
		font-size: 28px;
	}

	&.with-border {
		&:after {
			content: '';
			display: block;
			width: 90px;
			height: 3px;
			background-color: $color-gray-light;
			margin-top: 35px;
		}

		@include media-breakpoint-down(lg) {
			margin-bottom: 20px;
			&:after {
				margin-top: 20px;
			}
		}
	}
}

.headline-small {
	font-weight: 400;
	font-size: 16px;
	color: $color-gray;
	margin-bottom: 20px;
}

.box {
	box-shadow: 0 0 21px 6px rgba(0,0,0,0.06);
}

.img-wrapper {
	img {
		display: block;
		margin: 0 auto;
	}
}