/*
  Sets text unselectable on all browsers.
  Handy for mobile devices buttons action.
*/
@mixin set-unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Including Font Awesome icons before */
@mixin fa-icon-before($icon, $color: inherit, $margin: 10px, $fontSize: inherit) {
  &:before {
    content: $icon;
    font-family: $font-family-icon;
    font-size: $fontSize;
    margin-right: $margin;
    color: $color;
  }
}

/* Including Font Awesome icons after */
@mixin fa-icon-after($icon, $color: inherit, $margin: 10px, $fontSize: inherit) {
  &:after {
    content: $icon;
    font-family: $font-family-icon;
    font-size: $fontSize;
    margin-left: $margin;
    color: $color;
  }
}

/* Sets SVG flag as background */
@mixin flag-icon($country) {
  .flag-icon-#{$country} {
    background-image: url(../img/flags/#{$country}.svg);
  }
}

/* Sets gradient as background */
@mixin bg-gradient($height){
  background-image: -moz-linear-gradient( 45deg, rgb(137,4,123) 0%, rgb(114,3,132) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(137,4,123) 0%, rgb(114,3,132) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(137,4,123) 0%, rgb(114,3,132) 100%);
  height: $height;
}