/****** COLORS ******/
$color-primary: #003dff;
$color-secondary: #ffcc00;
$color-gray-dark: #999;
$color-gray: #ccc;
$color-gray-light: #e5e5e5;
$color-white: #fff;
$color-black: #000;
$color-success: #a5d307;
$color-error: #ec1c23;

/****** BRANDS ******/
$theme-colors: (
  primary: $color-primary,
  secondary: $color-white,
  success: green,
  info: cyan,
  warning: yellow,
  danger: red,
  light: $color-gray,
  dark: $color-gray-dark
);

/****** FONTS *******/
@font-face {
  font-family: 'Aino';
  src: url('../fonts/Aino_31_170411-Regular.woff2?') format('woff2'),
    url('../fonts/Aino_31_170411-Regular.woff?') format('woff'),
    url('../fonts/Aino_31_170411-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aino';
  src: url('../fonts/Aino_31_170411-Bold.woff2?') format('woff2'),
    url('../fonts/Aino_31_170411-Bold.woff?') format('woff'),
    url('../fonts/Aino_31_170411-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aino Headline';
  src: url('../fonts/Aino-Headline.woff2?') format('woff2'),
    url('../fonts/Aino-Headline.woff?') format('woff'),
    url('../fonts/Aino-Headline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "Aino", sans-serif;
$font-family-headline: "Aino Headline", sans-serif;
$font-family-icon: "FontAwesome";
$font-size-base: 0.8125rem;

/****** GRID *******/
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1060px
);

/****** FORMS ******/
$custom-checkbox-radius: 0;