.btn {
	font-size: 16px;
	text-transform: uppercase;
	padding: 12px 25px 8px;
	border-radius: 35px;
	outline: none !important;
	box-shadow: none !important;
}

.btn-primary {
	&:hover {
		background-color: $color-secondary;
		border-color: $color-secondary;
	}
}

.btn-secondary {
	color: $color-primary;

	&:hover {
		background-color: $color-secondary;
		border-color: $color-secondary;
	}
}

button {
	cursor: pointer;
	
	&:focus {
		outline: none !important;
	}
}