.form-group {
	position: relative;
	margin-bottom: 30px;

	.error-msg {
		display: none;
		font-size: 10px;
		color: $color-error;
	}

	&.error {
		.error-msg {
			display: block;
		}
		.form-control {
			border-color: $color-error;
		}
	}

	&.selected {
		.label {
			color: $color-primary;
		}
	}

	label {
		font-size: 18px;
		color: $color-gray-light;
		position: absolute;
		top: 7px;
		left: 1px;
		transition: all 0.2s ease-in;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		z-index: 10;
	}

	textarea {
		resize: none;
		height: 180px;

		~ label {
			top: calc(100% - 30px);
		}
	}
}

.form-control {
	font-weight: 400;
	font-size: 18px;
	color: $color-primary;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $color-gray-light;
	margin-bottom: 3px;
	padding: 10px 0 5px 0;

	&:focus {
		color: $color-primary;
	}

	&:focus ~ label,
	&:active ~ label,
	&.filled ~ label {
		top: -10px;
		font-size: 10px;
	}

	&:focus {
		border-color: $color-gray-light;
	}
}

.select2-container {
	display: block;
	width: 100% !important;
}

.select2-container--default {
	.select2-selection--single {
		height: auto;
		padding-top: 3px;
		background-color: $color-white;
		border-width: 2px;
		border-color: $color-gray-light !important;
		border-radius: 2px;

		.select2-selection__rendered {
			font-size: 18px;
			color: $color-gray-light;
			padding-left: 30px;
			height: 55px;
			line-height: 55px;
		}

		.select2-selection__arrow {
			top: 2px;
			right: 2px;
			width: 58px;
			height: 58px;
			background-color: $color-white;

			&:before {
				content: $fa-var-arrow-down;
				font-family: $font-family-icon;
				font-size: 18px;
				color: $color-gray-light;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			b {
				display: none;
			}
		}
	}

	.select2-results__option[aria-selected=true] {
		color: $color-white;
	}
}

.select2-dropdown {
	border-color: $color-gray-light;

	li {
		padding: 15px 30px;
		font-size: 18px;
		background-color: $color-white;

		&.highlighted,
		&:hover {
			background-color: $color-gray-light;
		}
	}
}

.registration-form,
.registration-form-ty {
	padding: 40px;

	@include media-breakpoint-up(xl) {
		padding: 80px 100px;
	}

	@include media-breakpoint-down(sm) {
		padding: 20px 15px;
	}

	.headline {
		margin-bottom: 40px;
	}

	.content {
		display: none;
	}

	small {
		display: block;
	}

	button[type="submit"] {
		display: block;
		float: right;
		margin-top: 20px;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

.registration-form-ty {
	display: none;

	@include media-breakpoint-up(xl) {
		padding: 100px 120px;
	}

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}

	.row {
		align-items: center;
	}
	p {
		font-size: 18px;
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}