.menu {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		font-weight: 700;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
}

.login-popup {
	font-weight: 400;
	min-width: 300px;
	background-color: $color-white;
	border: 2px solid $color-gray-light;
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	position: absolute;
	top: calc(100% + 30px);
	right: 0;

	@include media-breakpoint-down(sm) {
		width: calc(100% - 30px);
		right: 15px;
	}

	&:before {
		content: '';
		display: block;
		width: 20px;
		height: 11px;
		background: url('../img/popup-arrow.png') no-repeat center center;
		position: absolute;
		top: -11px;
		right: 40px;

		@include media-breakpoint-down(sm) {
			right: 50%;
			margin-right: -10px;
		}
	}

	form {
		padding: 30px;
	}

	.btn-wrapper {
		@include clearfix;

		.btn {
			float: right;
		}
	}

	small {
		display: block;
		font-weight: 400;
		font-size: 12px;
		color: $color-gray;
		text-align: right;
		margin: 30px 0 0;

		a {
			font-weight: 700;
			font-size: inherit !important;
		}
	}
}